<div class="card mb-3">
  <div class="card-body">
    <h2>Take Offer</h2>
    <p>Here is a list of the 100 open offers. Take an offer an wait for it to be confirmed.</p>
    <div class="alert alert-info">
      Your own offers are disabled.
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let offer of takeoffers | async">
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-1 h5">{{offer.title}}</div>
          <button class="btn btn-primary" [disabled]="sharedSecretAddress == offer.creatorAddressHash || offer.requested"
                  (click)="take(offer)">
            Take
          </button>
        </div>
        <p class="mb-1">Press the take button request this offer</p><br />
        <code>{{offer.decryptedFileHash}}</code>
      </li>
    </ul>
  </div>
</div>
