  <h1>
    Elliptic-curve Diffie–Hellman (x25519)
  </h1>

  <p>
    Uses: <a href="https://github.com/CryptoEsel/js-x25519">
      CryptoEsel/js-x25519
    </a>
  </p>

  <p>based on <a href="https://medium.com/proof-of-working/encrypted-messaging-on-the-neo-blockchain-631bbfcf99f6">Encrypted messaging on the NEO blockchain</a></p>
  <p>Librarytest sharedsecret: <code>{{sharedSecret}}</code></p>


  <div>
    <b>Sender: </b><br />
    Shared Secret Sender: <code>{{sharedSecretSender}}</code><br />
    Shared Secret Reciver: <code>{{sharedSecretReciver}}</code><br />
    Identical: <code>{{secretsidentical}}</code>
  </div>
  <ul>
    <li *ngFor="let secret of testSecrets">
      {{ secret }}
    </li>
  </ul>

  <div class="row">
    <div class="col-4">
      <b>Sender</b><br />
      <div class="form-group">
        <label for="secretSender">Secret from Sender</label>
        <input type="text" class="form-control" id="secretSender" placeholder="77076d0a7318a57d3c16c17251b26645df4c2f87ebc0992ab177fba51db92c2a">
      </div>
      <div class="form-group">
        <label for="PubSender">Public Key Sender</label>
        <input type="text" class="form-control" id="PubSender" placeholder="" readonly="readonly">
      </div>
    </div>
    <div class="col-4 col-push-4">
      <b>Reciver</b><br />
      <div class="form-group">
        <label for="secretReciver">Secret from Reciver</label>
        <input type="text" class="form-control" id="secretReciver" placeholder="77076d0a7318a57d3c16c17251b26645df4c2f87ebc0992ab177fba51db92c2a">
      </div>
      <div class="form-group">
        <label for="PubReciver">Public Key Reciver</label>
        <input type="text" class="form-control" id="PubReciver" placeholder="" readonly="readonly">
      </div>
    </div>
  </div>


